<div class="col-md-12">

	<div class="group">
		<%= link_to("添加新病人", new_patient_path, class: "btn btn-primary pull-right") %>
		<%= link_to("查看地址", locations_path, class: "btn btn-primary pull-right") %>
		
		<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
		<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
		
		
		
		<!--这一段还得好好看一下，不懂该如何只看onTreatment-->
		<%= form_tag patients_path, method: :get do %>
			<%= select_tag :status, options_for_select(['初始', '轉診', '治療', '治療結束']) %>
			<%= submit_tag("只看當前此狀態下的病人",class: "btn btn-primary pull-left") %>
		<% end %>
		
		<%= form_tag(patients_path, method: "get") do %>
			<%= submit_tag("查看所有病人") %>
		<% end %>

			
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<td>全名</td>
				<td>年齡</td>
				<td>記錄編號</td>
				<td>性別</td>
				<td>狀態</td>
				<td>地址</td>
				<td>查看次數</td>
			</tr>
		</thead>
		<tbody>
		
			<% @patients.each do |patient| %>
				<tr>

					<td><%= patient.full_name %></td>
					<td><%= patient.age %></td>
					
					<!--以下是html.erb中if语句的实现方法，完成编号-->
					<% if patient.id<10 %>
					<td>MR00000<%= patient.id %></td>
					<% else %>
					<td>MR0000<%= patient.id %></td>
					<% end %>
					
					<td><%= patient.gender %></td>
					<td><%= patient.status %></td>
					
					
					<td><%= link_to patient.location.name , location_path(patient.location_id) %></td>
					
					
					
					
					<td><%= patient.view_count %></td>
					<td>
							<%= link_to("更新", edit_patient_path(patient), class: "btn btn-sm btn-default")%>
							<%= link_to("查看", patient_path(patient), class: "btn btn-sm btn-default") %>
							<%= button_to("刪除", marked_as_deleted_patient_path(patient), class: "btn btn-sm btn-default") %>
							
							
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>