<h1 class="text-center">添加病人信息</h1>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
<%= link_to("返回", patients_path, class: "btn btn-primary pull-right") %>

<div class="col-md-4 col-md-offset-4">
	<%= simple_form_for [@location,@patient] do |f| %>
		<div class="form-group">
			<%= f.input :first_name, label: '名',input_html: { class: "form-control"} %>
			<%= f.input :middle_name, label: '中間名',input_html: { class: "form-control"} %>
			<%= f.input :last_name, label: '姓',input_html: { class: "form-control"} %>
			<h5>出生日期<h5>
			<%= f.date_select :date_of_birth, start_year: 1900 %>
			
			<!--simple form添加按钮的方式,性别选择 -->
			<%= f.input :gender, label: '性別：', 
			:collection => [["男", '男'], ["女", '女'], ["不詳", '不詳']], 
			:label_method => :last, 
			:value_method => :first, 
			:as => :radio_buttons %>
			
			<!--simple form添加下拉菜单的方式，状态选择 -->
			<h5>* 當前狀態<h5>
			<%= f.collection_select :status,  ['Initial','Referred','Treatment','Closed'], :to_s, :to_s, :include_blank => true%>
			
			<!--simple form添加下拉菜单的方式，状态选择 -->
			</div>
				<div class="field">
				<%= f.label :location_id, t('* 地址') %><br>
				<%= f.select :location_id,
						 options_from_collection_for_select(Location.is_valid, 'id', 'name'), {:include_blank => t('form.plz_select')}, {:class => ''} rescue ''%>
			</div>
			
			
		<div class="form-actions">
			<%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
		</div>
	<% end %>
</div>