<div class="col-md-12">
<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>

	<div class="location">
		<%= link_to("New location", new_location_path, class: "btn btn-primary pull-right") %>
		<%= link_to("Return to the List", patients_path, class: "btn btn-primary pull-right") %>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>#</td>
				<td>Location Name</td>
				<td>Location Code</td>
			</tr>
		</thead>
		<tbody>
			<% @locations.each do |location| %>
				<tr>
					<td>#</td>
					<td><%= link_to(location.name, location_path(location)) %></td>
					<td><%= location.description %></td>
					<td>
							<%= link_to("Edit", edit_location_path(location), class: "btn btn-sm btn-default")%>
							<%= button_to("Destory", marked_as_deleted_location_path(location), class: "btn btn-sm btn-default") %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
