<div class="col-md-12">
	<div class="location">
		<%= link_to("返回病人列表", patients_path, class: "btn btn-primary pull-right") %>
		<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
		<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>


	</div>
	
	<table class="table table-hover">
	<thead>
		<tr>
			<td>記錄編號</td>
			<td>全名</td>
			<td>年齡</td>
			<td>性別</td>
			<td>狀態</td>
			<td>地址</td>
			<td>查看次數</td>
		</tr>
	</thead>
	
</thead>
	 <tbody>
			<% @location.patients.each do |patient| %>
				<tr>
					<td>#</td>
	
					
					<td><%= patient.content %></td>
					<td><%= patient.content %></td>
					
					<!--以下是html.erb中if语句的实现方法，完成编号-->
					<% if patient.id<10 %>
					<td>MR00000<%= patient.id %></td>
					<% else %>
					<td>MR0000<%= patient.id %></td>
					<% end %>
					
					<td><%= patient.gender %></td>
					<td><%= patient.status %></td>
					<td><%= patient.location_id %></td>
					<td><%= patient.view_count %></td>
					<td>
						<%= link_to("更新", edit_patient_path(patient), class: "btn btn-sm btn-default")%>
						<%= link_to("查看", patient_path(patient), class: "btn btn-sm btn-default") %>

							<td><%= patient.content %></td>
							
							
					</td>
				</tr>
			<% end %>
		</tbody>	 
	</table>
</div>
